{% extends 'main_base.html' %}
{% block input %}
  {% if error %}
  <div class="error">
    <span>{{ error }}</span>
  </div>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <div class="title-box">
      <input type="text" id="username" name="username" placeholder="아이디" required><br>
    </div>
    <div class="title-box">
      <input type="password" id="password" name="password" placeholder="비밀번호" required>
      <input type="text" id="fake_password" name="fake_password" placeholder="비밀번호를 다시 입력해주세요" required>
    </div>
    <div class="title-line"></div>
    <button type="submit">가입하기</button>
  </form>

{% endblock input %}
