<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'home.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <title>Cockdaily</title>
</head>
<body>
    <div class="whole_wrapper">
        <div class="texts">
            <div class="headline">
                <span id="headline">Cockdaily</span>
            </div>
            <div class="subtitle">
                <p id="subtitle">Daily Cocktail Only For You</p>
            </div>
        </div>
            <div class="buttons">
                <button onclick="location.href='../loading'">Test</button>
                <button class="search" onclick=' location.href="search"'>Search</button>
            </div>
    </div>
</body>
</html>