<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input name="title" placeholder="제목">
        <br>
        <textarea name="content" cols="30" rows="10" placeholder="내용"></textarea>
        <button type="submit">저장하기</button>
    </form>
</body>
</html>

