.theme_1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FDFBC7;
}
.theme_2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ECC5C7;
}
.theme_3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E29EAF;
}
.theme_4{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #A38FAB;
}
.theme_5{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #918DAB;
}
.theme_6{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #79849F;
}