* {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.all{
    width: 414px;
    height: 896px;
    flex-grow: 0;
    border-radius: 30px;
    background-color: white;
    padding: 20px;
}