<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_registration/login2.css' %}">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="likeStudy">관심 스터디</label>
        <input type="text" id="likeStudy" name="likeStudy" placeholder="관심스터디">
            
        <button type="submit">작성하기</button>
    </form>
</body>
</html>