<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for profile in profiles %}
    
    <li>
        {{ profile.nickname }}
        {{ profile.location }}
        {{ profile.university }}
        {{ profile.department }}
        {{ profile.likeStudy }}
        
    </li>    
    
    {% endfor %}
    <div>
        <button type="button" class="navyBtn" onClick="location.href='{% url 'login' %}'">로그인</button>
    
        <button type="button" class="navyBtn" onClick="location.href='{% url 'signup' %}'">회원가입</button>
    </div>
</body>
</html>