{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    {% block css %}
    {% endblock css %}
</head>

<body>
    <div class="all">
        <div class="container">
            <div class="navbar">
                <a class="nav" id="mypage" href="{% url 'regist_page' %}"> >마이페이지</a>
                <a class="nav" href="{% url 'home_totd' %}"> >TOTD </a>
                {% if user.is_authenticated %}
                <a class="nav" href="{% url 'home_motd' %}"> >MOTD </a>
                <a class="nav" href="{% url 'home_fotd' %}"> >FOTD </a>
                <a class="nav" href="{% url 'home_ootd' %}"> >OOTD </a>
                
                {% endif %}
            </div>
            
            {% block content %}

            {% endblock %}
        </div>
    </div>

</body>

</html>