{% extends "base_nav.html" %}

{% block css %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'signup_login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'motd_new.css' %}">
{% endblock %}
{% block content %}


<div class="signup ">
    <form action="" method="post">
        {% csrf_token %}
        <div class="all">
            <div class="title">
                <div class="container">
                    <p style="font-weight:100"> Mood of Today </p>
                </div>
            </div>
            <div class="whole">
                <div class="buttons-a">
                    <button type="button" class="buttona"></button>
                    <button type="button" class="buttonb"></button>
                    <button type="button" class="buttonc"></button>
                </div>
                <div class="buttons-b">
                    <button type="button" class="buttond"></button>
                    <button type="button" class="buttone"></button>
                    <button type="button" class="buttonf"></button>
                </div>
            </div>
                <br>
                <br>
            <input type="text" name='title'>
            <div class="content">
                <textarea id="content" name="content" rows="20" cols="45" placeholder="오늘의 기분은?"
                    style="border: none; background-color:#F5F5F5; text-align: center;"></textarea>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <input type="date" name='day'>
            <button
            style="height:40px; border: none; background-color: #858492; width: 30%; color: white; font-size: 12pt; border-radius: 30px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: lighter; text-align: center; margin-left: 150px;"
            type=" submit"> Save ✓ </button>
        </div>
    </form>
</div>

{% endblock %}