{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'academy_form.css' %}">
{% endblock css %}

{% block content %}
<form method="POST" action='' enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="academy_form">
        <div>
            <div class='academy_name'>학회명</div>
            <div class='name_form'>
                <input type="text" id="title" name="title" placeholder="학회명을 입력해주세요">
            </div>
        </div>
        <div>
            <div class='short_intro'>한줄소개</div>
            <div class='intro_form'>
                <input type="text" id="introduction" name="introduction" placeholder="깔끔한 한줄소개!">
            </div>
        </div>
        <div>
            <div>
                <div class='start_form'>마감기간(시작)</div>
                <input type="date" id="apply_start" name="apply_start">
            </div>
        </div>
        <div>
            <div class='end_form'>마감기간(끝)</div>
            <input type="date" id="apply_end" name="apply_end">
        </div>
    </div>
    </div>
    <div>
        <div class='academy_category'>학회분류</div>
        <select class="interest" id='category' name='category'>
            <option value="business">경영</option>
            <option value="economics">경제</option>
            <option value="humanities">인문</option>
            <option value="law">법</option>
            <option value="coding">코딩</option>
            <option value="lifescience">생명과학</option>
            <option value="environenginner">환경공학</option>
        </select>
       
    </div>
    <div>
        <div class='applicant'>모집대상</div>
        <input type="text" id="target" name="target">
    </div>
    </div>
    <div>
        <div class='academy_pic'>학회이미지</div>
        <input type="file" id="logo" name="logo" accept="image/png, image/jpeg" >
    </div>
    <div>
        <div class='academy_description'>학회소개글</div>
        <input type="content" id="content" name="content">
       
    </div>
        <button class="button" type="submit">제출</button>
    </div>
</form>

{% endblock %}