{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'category.css' %}" />

{% endblock css %} {% block content %}
<div class="category_page">
  <div class="search_bar_box">
    <div class="bar_title">학회검색</div>
  </div>
  <div class="academy_contents_box">
    <div class="academy_category">
      <div class="category_selection">
  </form>
          <div class="select_bar1">
                <a href="{% url 'category_business' %}">경영</a>
          </div>
          <div class="select_bar2">
                <a href="{% url 'category_economics' %}">경제</a>
          </div>
          <div class="select_bar3">
                <a href="{% url 'category_humanities' %}">인문학</a>
          </div>
          <div class="select_bar4">
                <a href="{% url 'category_coding' %}">코딩</a>
          </div>
          <div class="select_bar5">
                <a href="{% url 'category_law' %}">법</a>
          </div>
          <div class="select_bar6">
                <a href="{% url 'category_lifescience' %}">생명과학</a>
          </div>
          <div class="select_bar7">
                <a href="{% url 'category_environengineer' %}">환경공학</a>
          </div>
    
      </div>
      <div class="academy_submit">
        <a href="{% url 'academy_form' %}" class="bar">학회등록</a>
      </div>
    </div>
    <hr width="1200">
    <br />
    <div class="academy_list">
      {% for post in posts %}
      <div class="academy_content">
        <div class="academy_pic">
          {% if post.logo %}
          <img src="{{post.logo.url}}" />
          {% endif %}
        </div>
        <div class="academy_description">
          <div class="academy_profile">
            <div class="academy_title">
              <a href="{% url 'academy' post.pk %}"> {{post.title}} </a>
            </div>
            <div class="academy_sorting">{{post.category}}</div>
          </div>
          <div class="short_description">{{post.content}}</div>
          <div class="applicant">{{post.target}}</div>
          <div class="apply_start">{{post.apply_start}}</div>
          <div class="apply_end">{{post.apply_end}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
