<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'base2.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="entire">
        <div class="crimson">
            <div class="nav-bar">
                <p class="logo"><strong>KU</strong>GETHER</p>
                {% if user.is_authenticated %}
                <div class="register">
                    <p>{{ user.first_name }}님, 반갑습니다!</p>
                    <p><a href="{% url 'mypage' %}">마이페이지</a></p>
                    <p><a href="{% url 'logout' %}">로그아웃</a></p>
                {% endif %}
                    
            </div>
        </div>


<div class="title">
{% block title %} 
{% endblock title %}
</div>


<div class="content">
{% block content %} 
{% endblock content %}
</div>
    
</body>
</html>