*{
    text-decoration: none; 
}

.header{
    margin-left: 7%;
    margin-top: 13%;
    margin-bottom: 7%;
    color: black;
    opacity: 0.8;
}

.header-txt{
    font-size: 32px;
    font-weight: 500;
}

.header-txt-bold{
    font-size: 32px;
    font-weight: lighter;
}

.category{
    margin-left: 6%;

    margin-top : 7%;
    margin-bottom : 7%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;

}   

.category-txt{
    padding-top: 3px;
    font-size: 12px;
    font-weight: 400;
}

.category-wrapper{
    padding-left : 10px;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.study-list{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 0;
}

.study-txt{
    height: 120px;
    padding : 15px;
    width : 100%;
}

.study-title{
    font-size: 24px;
    font-weight: 500;
    color: black;
    opacity: 0.8;
}

.study-location{
    font-size: 18px;
    font-weight: 500;
    color: black;
    opacity: 0.4;
}

.study-wrapper-career{
    margin-bottom: 15px;
    background-color: #f4f8c1;
    height: 120px;
    display:flex;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.study-wrapper-exam{
    margin-bottom: 15px;
    background-color: #E2EEDD;
    height: 120px;
    display:flex;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.study-wrapper-daily{
    margin-bottom: 15px;
    background-color: #CCD0FF;
    height: 120px;
    display:flex;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.study-wrapper-language{
    margin-bottom: 15px;
    background-color: #FFD7D6;
    height: 120px;
    display:flex;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.study-wrapper-programming{
    margin-bottom: 15px;
    background-color: #DFEEFC;
    height: 120px;
    display:flex;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.study-wrapper-economy{
    margin-bottom: 15px;
    background-color: #F1E4EE;
    height: 120px;
    display:flex;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.study-wrapper-design{
    margin-bottom: 15px;
    background-color: #FEDEA6;
    height: 120px;
    display:flex;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.study-wrapper-etc{
    margin-bottom: 15px;
    background-color: #ECEEF3;
    height: 120px;
    display:flex;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}
