@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.talk_button {
    width: 90px;
    height: 35px;
    border-radius: 18px;
    background-color: #12121d;
    color:  #EEEEEE;
    display:flex;
    margin-right:30px;
    margin-bottom:16px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.prof_img {
    width:60px;
    height: 60px;
    border-radius: 114px;
    margin-right: 10px;
    margin-bottom:60px;

}
#info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.smallprofiletext {
    background-color:  #dbedff;
    margin-left: 3px;
    border-radius: 3px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 10px;
    padding:5px;
}
h2 {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    margin-left: 30px;
    color: #a7b0c0;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size:18px;
}
#smallinfo {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 11px;
    color: #5c6678;
    width: 200px;
    margin-left: 3px;
}

#hand {
    margin-left: 5px;
}
.profile_box {
    width:315px;
    height:160px;
    border-radius: 20px;
    box-shadow: 0 2px 28px 0 rgba(75, 88, 208, 0.15);
    background-color: #ffffff;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile {
    display:flex;
    flex-direction: column;
}

.box {
    /* position: absolute; */
    /* padding-top:100px; */
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .boxlist {
    background:#dbedff;
    border: solid 1px #18a0fb;
    width: 295px;
    height: 60px;
    border-radius: 8px;
    box-shadow: 0 2px 28px 0 rgba(75, 88, 208, 0.15);
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 4px;
  


  }
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 40px;
    background-color: #f8fafd;
    margin-left:40px;
    margin-top:15px;
    margin-bottom:30px;
}
  .name{
    display: flex;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    margin-left: 22px;
    color: #18a0fb;
  }

  .balance{
    display: flex;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 12px;
    margin-right: 26px;
    color: #18a0fb;

  }