<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{% static 'app_registration/rendering.css' %}"> 
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <title>Rendering...</title>
</head>
<body>
    <div class="wrapper">
        <img class="rocket" src="https://user-images.githubusercontent.com/69626443/120077973-098b4580-c0e8-11eb-8c19-2c9eff61c352.png">
        <p class="msg">
            인증 메일이 발송되었어요 !<br/>포털 이메일을 확인해주세요 :)
        </p>
    </div>
</body>
</html>