@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#kakao {
    margin-top:20px;
    display:flex;
    width: 60px;
    height: 30px;
    margin-right: 30px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #007fff;

}
#back{
    margin-top: 15px;
    margin-left: 30px;
    display: flex;
    border-radius: 40px;
    width: 44px;
    height: 44px;
    padding: 10px;
    background-color: #f8fafd;
    justify-content: center;
    align-items: center;
}

h1 { 
    margin-left:20px;
}

.explain1 {
    width: 315px;
    height: 40px;
    margin: 13px 30px 56px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;

    text-align: left;
    color: #a7b0c0;
}

#login {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.login_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    width:315px;
    border-bottom:1px solid #dedfe0;
}

.login_container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom:300px;
    width:315px;
    border-bottom:1px solid #dedfe0;
}
#id {
    display: flex;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background:url('input_bg.jpg') no-repeat;
    padding:15px;
    border:0;
    width:275px;
    color:#373d39;

}
#pw {
    display: flex;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background:url('input_bg.jpg') no-repeat;
    padding:15px;
    border:0;
    width:275px;
    color:#373d39;


 }
#submit {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    display: flex;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    
    margin: 0 auto;

    width: 160px;
    height: 56px;
    padding: 18px 65px 19px;
    border-radius: 60px;
    border-style: none;
    background-color: #12121d;
    color: #EEEEEE;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
#submit:hover {
    background-color: #18A0FB;
}

.footer {
    display:none;
}
.fa-user {
    font-size:24px;
    margin-right: 15px;
}
.fa-lock {
    font-size:24px;
    margin-right: 15px;
}