{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '4_chat/friends.css' %}">
{% endblock css %}

{% block container %}
<div class=container>
    <a href="{% url 'home' %}">
        <div class="back">
            <i class="fas fa-arrow-left"></i>
        </div>
        
    </a>
    <h1>{{ lecture.subject }} 수강친구</h1>
    <p>수업을 독강하는 친구에게 톡을 걸어보세요</p>
    <ul>
        {% for plr in plrs %}
        <a href="{% url 'friend_profile' plr.profile.pk %}">
            <div class="friend-bar">
                {% if plr.profile.photo %}
                <img class="profile-img" src="{{ plr.profile.photo.url }}">
                {% else %}
                <img class="profile-img" src="{% static 'img/default_photo.png' %}">
                {% endif %}
                <div class="friend">
                    <div class="name">{{ plr.profile.nickname }}</div>
                    {% if plr.profile.matewant is True %}
                        <img class="hand" src="{% static 'img/hand.svg' %}">
                    {% endif %}
                    <p class="introduce">{{ plr.profile.introduce }}</p>
                    
                </div>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endblock container %}
